bs4
crypt_sindresorhus_conf[cryptography] @ git+https://github.com/DimmaDont/py-crypt-sindresorhus-conf@f54d26b244106fbe3a1171660ad3bff789f67a3f
requests
semver
tomlkit
typing_extensions; python_version < "3.11"
